<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 로그인, 로그아웃, 회원가입 등 회원 정보 관련 -->
<!-- 문의사항은 추후 다른 곳으로 이동 -->
<mapper namespace="com.asnj.mapper.MemberMapper">
  <!-- 회원(tb_member) 관련 -->
  <!-- 로그인 -->
  <select id="memberLogin" parameterType="com.asnj.entity.Member" resultType="com.asnj.entity.Member">
      select * from tb_member where mem_user_id=#{mem_user_id} and mem_user_pw=#{mem_user_pw}
  </select>
  
  <!-- 회원가입 -->
  <insert id="memberJoin" parameterType="com.asnj.entity.Member">
      insert into tb_member(mem_user_id, mem_user_pw, mem_user_name, mem_user_email, mem_user_job)
      values(#{mem_user_id}, #{mem_user_pw}, #{mem_user_name}, #{mem_user_email}, #{mem_user_job})
  </insert>
  
  <!-- 문의사항(tb_questionboard, tb_commentboard) 관련 -->
  <!-- 문의사항 게시판 제목 불러오기 - 게시판 게시 -->
  
  <!-- 문의사항 질문 세부 내용 불러오기 - 문의사항 제목 클릭 -->
  
  <!-- 문의사항 답변 세부 내용 불러오기 - 문의사항 제목 클릭 -->
  
  <!-- 문의사항 질문 등록 -->
  <insert id="questionInsert" parameterType="com.asnj.entity.QuestionBoard">
      insert into 
      values
  </insert>
  
  <!-- 문의사항 답변 등록 -->
  <insert id="answerInsert" parameterType="com.asnj.entity.QuestionBoard">
      insert into 
      values
  </insert>
</mapper>